/* variables */

$greens--buttons: #2d635e;
$cream--color: #fae9e0;
$basic--gray:#e3ebe7;
$bold--gray: #444a4a;
$solid-black: #000000;
$solid-white: #ffffff;
$font-josefin:'Josefin Sans', sans-serif;

html{
    font-size: 62.5%;
    font-family: $font-josefin;
    
    
}
header{
    width: 100%;
    min-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    
    
    
}
*{
margin: 0;
padding:0;
box-sizing: border-box;
}
.header--logo{    
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    width: 132px;
    height: 35px;
    background-image: url(../icons/logo.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    
}
.bars__menu{
    
    font-size: 1.8rem;
    position: absolute;
    top: 20px;
    left: 20px;
    

    
}

.header--navigationbar{ 
    
    width: 146px;    
    
    
    margin: 0 auto;   
    margin-bottom: 10px;
    
    ul{
        display: none;       
        list-style: none;
        text-align: center;
        
    }   
    li{
        padding-bottom: 10px;
        margin: 40px auto;
        font-size: 3.2rem;        
        line-height: 1.4rem;
        font-weight: bold;
        a{
            color: $solid-black;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
            
        }
    }
    
    
}
.header--navigationbar:hover ul,.menu__responsive:hover {
    height: 460px;
    display: block;
    position: relative;
    

}


.header--socialmedia{
    display: none;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 100px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 15px;
}
.header--socialmedia p{
    font-size: 1.8rem;
        margin: 0 auto;
}
.header--navigationbar:hover .header--socialmedia, .header--socialmedia:hover{
    display: flex;
}
.main__principalSection{
    min-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    p{
        position: relative;
        font-size: 1rem;
        font-weight: bold;
        color: $bold--gray;
        margin: 0 auto;
        margin-bottom: 15px;
    }   
    h1{
        color: $solid-black;
        margin: 0 auto;
        font-size: 2.8rem;
        font-weight: bold;
        line-height: 2.1rem;
        margin-bottom: 15px;
    }
    button{
        width: auto;
        height: auto;
        align-self: center;
        padding: 10px;
        border-radius: 5px;
        background-color: $greens--buttons;
        color: $solid-white;

        
    }
    
    
}